* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.header {
    position: relative;
    height: 80px;
    width: 100%;
    background: #FFFFFF;
    z-index: 100;
    padding: 20px 100px;
    border: 1px solid #3A35411F;
}
.nav {
    max-width: 1100px;
    width: 100%;
    margin: 20 20px;
    justify-content: space-between;
    align-items: center;
    display: block;
    padding: -50 2rem;
    /* background-color: #333333; */
}
body {
    background: #fcfaf1;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* Login Form */
.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 529px;
    width: 100%;
    padding: 40px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: 1px solid #3A35411F;
}
.form-container p {
    font-size: 16px;
    font-weight: 400;
    font-family: "DM Sans";
    color: #333333;
}
.login-header {
    text-align: center;
    margin-bottom: 30px;
    /* font-family: "Poppins"; */
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px 0;
}
.login-form {
    input {
        padding: 10px 15px;
        border: 1px solid #3A35411F;
        border-radius: 6px;
    }
}
.password-icon {
    position: absolute;
    right: 10px;
    top: 53px;
    cursor: pointer;
}
.login-form {
    a {
        margin-top: 15px;
        margin-bottom: -10px;
        font-family: "DM Sans",sans-serif;
        font-size: 16px;
        cursor: pointer;
    }
}
.forgot-password {
    text-decoration: none;
    justify-content: right;
    display: flex;
    color: #333333AD;
}
.signin {
    width: 100%;
    height: 42px;
    background: #3ECF4C;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 16px 0 20px 0;
    border: none;
}
.signup {
    width: 100%;
    height: 42px;
    background: #E2FCD9CC 80%;
    color: #3ECF4C;
    border-radius: 8px;
    margin: -10px 0 20px 0;
    border: none;
}
.signon-google {
    width: 100%;
    height: 42px;
    background: #ffffff;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    margin: 20px 0 0 0;
}
.required-color {
    color: #ff4747;
}

@media screen and (max-width: 600px) {
    body {
      padding: 0 24px;
      font-family: Lato;
    }
    .header {
        margin-left: -25px;
        position: relative;
        width: 100vh;
        padding: 25px 100px 20px 35px;
    }
    /* .home {
        padding: 0 2px;
    } */
    .login-container {
      width: 100%;
      padding: 24px;
      border-radius: 8px;
    }
    .login-header {
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        font-family: "Poppins";
        font-weight: 600;
      }
      p {
        font-size: 14px;
      }
    }
  
    .login-form {
      label {
        font-size: 14px;
        margin-bottom: 6px;
      }
  
      input {
        border-radius: 8px;
      }
    }
      .password-icon {
        width: 14px;
        right: 19px;
      }
}   